.DS_Store
/frontend/profiler/dist
/frontend/profiler/node_modules
/backend/temp
/backend/__pycache__
/backend/ctags_output
/backend/exec
/backend/gcc_output
/backend/gmon.out
/backend/graph_file
/backend/linewise_file
/backend/prog
/backend/temp.c
/backend/valgrind.txt
/backend/valgrind_leak.txt

# dependencies
/deps/


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
